<form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
  <h1>Request a Quote</h1>
  <p class="mb-5">Fill in the following fields to get a quote for your vehicle's insurance.</p>

  <!-- Section 1: Your Information -->
  <div class="mt-5">
    <h3 class="mb-4">Your Information</h3>

    <!-- Full Name Field -->
    <label for="name" class="form-label mt-4">What is your full name?</label>
    <div class="input-group">
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['name'].touched && form['name'].invalid,
          'is-valid': form['name'].touched && !form['name'].invalid
        }" />
      <div class="invalid-feedback">
        <div>Please enter a name.</div>
      </div>
    </div>

    <!-- Age Field -->
    <label for="age" class="form-label mt-3">What is your age?</label>
    <div class="input-group">
      <input
        type="number"
        id="age"
        formControlName="age"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['age'].touched && form['age'].invalid,
          'is-valid': form['age'].touched && !form['age'].invalid
        }" />
      <span class="input-group-text">years</span>
      <div class="invalid-feedback">
        <div>Please enter a valid number of years.</div>
      </div>
    </div>

    <!-- Experience Field -->
    <label for="experience" class="form-label mt-3">How many years of driving experience do you have?</label>
    <div class="input-group">
      <input
        type="number"
        id="experience"
        formControlName="experience"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['experience'].touched && form['experience'].invalid,
          'is-valid': form['experience'].touched && !form['experience'].invalid
        }" />
      <span class="input-group-text">years</span>
      <div class="invalid-feedback">
        <div>Please enter a valid number of years.</div>
      </div>
    </div>
  </div>

  <!-- Section 2: Vehicle Information -->
  <div class="mt-5">
    <h3 class="mb-4">Vehicle Information</h3>

    <!-- Vehicle Age Field -->
    <label for="vehicleAge" class="form-label mt-4">How many years old is this vehicle?</label>
    <div class="input-group">
      <input
        type="number"
        id="vehicleAge"
        formControlName="vehicleAge"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['vehicleAge'].touched && form['vehicleAge'].invalid,
          'is-valid': form['vehicleAge'].touched && !form['vehicleAge'].invalid
        }" />
      <span class="input-group-text">years</span>
      <div class="invalid-feedback">
        <div>Please enter a valid number of years.</div>
      </div>
    </div>

    <!-- Vehicle Purchase Price Field -->
    <label for="vehiclePurchasePrice" class="form-label mt-3">What was the original purchase price in CAD$?</label>
    <div class="input-group">
      <span class="input-group-text">CAD$</span>
      <input
        type="number"
        id="vehiclePurchasePrice"
        formControlName="vehiclePurchasePrice"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['vehiclePurchasePrice'].touched && form['vehiclePurchasePrice'].invalid,
          'is-valid': form['vehiclePurchasePrice'].touched && !form['vehiclePurchasePrice'].invalid
        }" />
      <div class="invalid-feedback">
        <div>Please enter a valid cost in CAD$.</div>
      </div>
    </div>

    <!-- Vehicle Annual Mileage Field -->
    <label for="vehicleAnnualMileage" class="form-label mt-3">What is the annual mileage in kilometers?</label>
    <div class="input-group">
      <input
        type="number"
        id="vehicleAnnualMileage"
        formControlName="vehicleAnnualMileage"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['vehicleAnnualMileage'].touched && form['vehicleAnnualMileage'].invalid,
          'is-valid': form['vehicleAnnualMileage'].touched && !form['vehicleAnnualMileage'].invalid
        }" />
      <span class="input-group-text">km</span>
      <div class="invalid-feedback">
        <div>Please enter a valid number in kilometers.</div>
      </div>
    </div>
  </div>

  <!-- Section 3: Driving History -->
  <div class="mt-5">
    <h3 class="mb-4">Driving History</h3>

    <!-- Insurance Count Field -->
    <label for="insuranceCount" class="form-label mt-4">How many times has this vehicle been insured?</label>
    <div class="input-group">
      <input
        type="number"
        id="insuranceCount"
        formControlName="insuranceCount"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['insuranceCount'].touched && form['insuranceCount'].invalid,
          'is-valid': form['insuranceCount'].touched && !form['insuranceCount'].invalid
        }" />
      <div class="invalid-feedback">
        <div>Please enter a valid number.</div>
      </div>
    </div>

    <!-- Driving Faults Field -->
    <label for="faults" class="form-label mt-3">In the last 5 years, how many driving faults have you had?</label>
    <div class="input-group">
      <input
        type="number"
        id="faults"
        formControlName="faults"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['faults'].touched && form['faults'].invalid,
          'is-valid': form['faults'].touched && !form['faults'].invalid
        }" />
      <div class="invalid-feedback">
        <div>Please enter a valid number.</div>
      </div>
    </div>

    <!-- Insurance Claims Field -->
    <label for="insuranceClaims" class="form-label mt-3"
      >In the last 5 years, how many insurance claims were made?</label
    >
    <div class="input-group">
      <input
        type="number"
        id="insuranceClaims"
        formControlName="insuranceClaims"
        class="form-control"
        [ngClass]="{
          'is-invalid': form['insuranceClaims'].touched && form['insuranceClaims'].invalid,
          'is-valid': form['insuranceClaims'].touched && !form['insuranceClaims'].invalid
        }" />
      <div class="invalid-feedback">
        <div>Please enter a valid number.</div>
      </div>
    </div>
  </div>

  <!-- Submit button -->
  <div class="col-12 mt-5 mb-5">
    <button class="btn btn-primary btn-lg" type="submit">Submit Request</button>
  </div>
</form>
