<h1>Welcome to Insurance Planner</h1>
<p>Get an instant quote for your vehicle insurance.</p>

<div class="mt-4 mb-5">
  <button type="button" class="btn btn-primary btn-lg" (click)="getQuoteClicked()">Get a Quote</button>
</div>

<div class="row">
  <h2>About Us</h2>
  <p>
    At Insurance Planner, we understand the importance of finding the right insurance coverage for your vehicle. Our aim is
    to provide you with a simple and hassle-free way to get instant quotes for your insurance needs.
  </p>
  <p>
    Whether you are insuring a car, motorcycle, or any other vehicle, our calculator takes into account various factors
    such as vehicle price, age, and mileage, as well as your driving and insurance history, to provide you with accurate
    and competitive quotes.
  </p>
</div>
